/node_modules
/.pnp
.pnp.js

# build
/dist
/tmp
/out-tsc

# Angular cache
/.angular/cache

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
.DS_Store
Thumbs.db

# ---- .NET ----
[Bb]in/
[Oo]bj/
*.user
*.rsuser
*.suo
*.cache
*.log
*.vs/
*.vscode/